/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
}

main {
    padding: 2em;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    background-color: #333;
}

.cta-button {
    display: inline-bk;
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #111010;
    text-align: center;
    padding: 1em 0;
}

.appointment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #555;
}
